
.generator {
  display: flex;
  flex-direction: row;
  box-shadow: 0 23px 50px -13px rgb(0 0 0 / 30%);

  > * {
    padding: 25px 12px;
  }
}

.description {
  background-color: white;
  color: black;
  font-size: 18px;
}

button {
  background-color: var(--dark);
  transition: background-color var(--tran-dur);
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
}

input {
  width: 35px;
  height: 30px;
  padding: 0 2px;
}