.hero-section {
  background-color: var(--primary);
  transition: background-color var(--tran-dur);
  height: 500px;

  .container {
    display: flex
  }
}

.title {
  z-index: 11000;
  color: white;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

h1 {
  font-size: 110px;
  margin-top: 100px;
  margin-bottom: 0px;
}

h2 {
  width: 550px;
  margin-top: 0;
  margin-bottom: 80px;
}