.carousel {
  position: relative;
  width: 650px;
  height: 450px;
}

.hero-img-container {
  width: 650px;
  height: 450px;
  overflow: hidden;
  position: absolute;
  top: 60px;
  border: var(--dark) solid 13px;
  background-color: var(--dark);
  box-shadow: 1px 1px 9px 7px rgba(0, 0, 0, 0.25);
  transition: border var(--tran-dur), background-color var(--tran-dur);
}

.hero-img {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image var(--tran-dur);
}