.hero-img-container {
  width: 650px;
  height: 450px;
  overflow: hidden;
  position: relative;
  border: var(--dark) solid 13px;
  background-color: var(--dark);
  transition: border 2s, background-color 2s;
}

.hero-img {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 2s;
}