@font-face {
  font-family: AmericanType;
  src: url(fonts/AmericanTypeMedium.otf);
}

#App {
  --primary: white;
  --dark: white;
  --tran-dur: 2s
}

* {
  font-family: AmericanType;
  /* font-weight: bold; */
}