@font-face {
  font-family: AmericanType;
  src: url(fonts/AmericanTypeMedium.otf);
}

#App {
  --primary: white;
  --dark: black;
}

* {
  font-family: AmericanType;
  font-size: 96px;
  /* font-weight: bold; */
}